[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "thirdparty/meojson"]
	path = thirdparty/meojson
	url = https://github.com/MistEO/meojson
